<h3>Add Training</h3>
<form #formTraining="ngForm"
      (ngSubmit)="submit(formTraining.value)">
 <div class="form-group">
      <label for="id1">Training Name</label>
      <input type="text" class="form-control" id="id1" required minlength="4" placeholder="enter Training Name" 
      name="trainingName" ngModel #form="ngModel">
      <div *ngIf="form.invalid && (form.dirty || form.touched)"
            class="alert alert-danger">
        <div *ngIf="form.errors.required">
            Name is required.
        </div>
        <div *ngIf="form.errors.minlength">
            Name must be at least 4 characters long.
        </div>
      </div>
  </div>

  <div class="form-group">
      <label for="id2">Training Code</label>
      <input type="text" class="form-control" id="id2" placeholder="enter Training Code" name="trainingCode" ngModel
       required #form2="ngModel">
       <div *ngIf="form2.invalid && (form2.dirty|| form2.touched)" 
        class="alert alert-danger">
            <div>Code is required</div>
       </div>
  </div>

  <div class="form-group">
    <label for="id4">Training Start Date</label>
    <input type="date"  class="form-control" id="id3" name="trainingStartDate" ngModel 
    required 
    #formStartDate="ngModel">
    <div *ngIf="formStartDate.invalid && (formStartDate.dirty || formStartDate.touched)" 
    class="alert alert-danger">require</div>
</div>

  <div class="form-group">
      <label for="id4">Training End Date</label>
      <input type="date" class="form-control" id="id4" name="trainingEndDate" ngModel 
      required #formEndDate="ngModel">
      <div *ngIf="formEndDate.invalid && (formEndDate.touched || formEndDate.dirty)" 
      class="alert alert-danger">require</div>
  </div>

  <div class="form-group">
      <label for="id5">Training Status</label>
      <input type="radio" name="trainingStatus" [(ngModel)]="trainingStatus" value="1" style="margin-left: 3%;"> Đang Hoạt Động
      <input type="radio" name="trainingStatus" [(ngModel)]="trainingStatus" value="0" style="margin-left: 2%;"> Không Hoạt Động
  </div>
  <button type="submit" class="btn btn-outline-success" style="margin-left: 43%;" 
  [disabled]="form2.invalid || form.invalid || formStartDate.invalid || formEndDate.invalid">SAVE</button>
  <button type="button" class="btn btn-outline-info" (click)="goBack()" style="margin-left: 1%;">GO BACK</button>
</form>


