<h4>Edit Employee Detail</h4>
<form [formGroup]="formEmployee" (ngSubmit)="onSubmit(formEmployee.value)">
    <div class="form-group">
        <label for="id">Id</label>
        <input type="number" class="form-control" id="id" placeholder="" formControlName="id" value="{{employee.id}}">
    </div>

    <div class="form-group">
        <label for="id">Name</label>
        <input type="text" class="form-control" required id="id" placeholder="enter Name" formControlName="empName" value="{{employee.empName}}">
    </div>

    <div class="form-group">
        <label for="id">BirthDay</label>
        <input type="text" class="form-control" id="id" placeholder="enter BirthDay" formControlName="empDob" value="{{employee.empDob}}">
    </div>

    <div class="form-group">
        <label for="id">Sex</label>
        <input type="number" class="form-control" id="id" placeholder="enter Sex" formControlName="empSex" value="{{employee.empSex}}">
    </div>

    <div class="form-group">
        <label for="id">NumberInsurance</label>
        <input type="text" class="form-control" id="id" placeholder="enter NumberInsurance" formControlName="empNumberInsurance" value="{{employee.empNumberInsurance}}">
    </div>

    <div class="form-group">
        <label for="id">Address</label>
        <input type="text" class="form-control" id="id" placeholder="enter Address" formControlName="empAddress" value="{{employee.empAddress}}">
    </div>

    <div class="form-group">
        <label for="id">Phone</label>
        <input type="text" class="form-control" id="id" placeholder="enter Phone" formControlName="empPhone" value="{{employee.empPhone}}">
    </div>

    <div class="form-group">
        <label for="id">Type</label>
        <input type="number" class="form-control" id="id" placeholder="enter Type" formControlName="empType" value="{{employee.empType}}">
    </div>

    <div class="form-group">
        <label for="id">Department</label>
        <input type="number" class="form-control" id="id" placeholder="enter department" formControlName="department" value="{{employee.department.id}}">
    </div>
    <button type="submit" (click)="save()">save</button>
</form>
<button (click)="goBack()">go back</button>
