<h3>CẬP NHẬT THÔNG TIN ĐÀO TẠO</h3>
<form #formTraining="ngForm"
      (ngSubmit)="submit(formTraining.value)">
  <div class="form-group">
    <label for="id1">Mã</label>
    <input type="text" class="form-control" id="id0" readonly name="id" [(ngModel)]=training.id>
 </div>

 <div class="form-group">
      <label for="id1">Tên Đào Tạo</label>
      <input type="text" 
            class="form-control" 
            id="id1" 
            placeholder="enter Training Name" 
            name="trainingName" 
            [(ngModel)]=training.trainingName
      required #formName="ngModel">
      <div *ngIf="formName.invalid && (formName.touched || formName.dirty)"
       class="alert alert-danger">
        <div *ngIf="formName.errors.required">
            Tên bắt buộc phải nhập
        </div>
      </div>
  </div>

  <div class="form-group">
      <label for="id2">Mã Đào Tạo</label>
      <input type="text" 
             class="form-control" 
             id="id2" 
             placeholder="enter Training Code" 
             name="trainingCode" 
             [(ngModel)]=training.trainingCode
             required #formCode="ngModel">
      <div *ngIf="formCode.invalid && (formCode.dirty || formCode.touched)" class="alert alert-danger">
        <div>Bắt buộc nhập mã</div>
      </div>
  </div>

  <div class="form-group">
      <label for="id3">Ngày Bắt Đầu</label>
      <input type="date" class="form-control" id="id3" name="trainingStartDate" [(ngModel)]=training.trainingStartDate
      required 
      #formStartDate="ngModel">
      <div *ngIf="formStartDate.invalid && (formStartDate.dirty || formStartDate.touched)" 
      class="alert alert-danger">Bắt buộc</div>
  </div>

  <div class="form-group">
      <label for="id4">Ngày Kết Thúc</label>
      <input type="date" class="form-control" id="id4" name="trainingEndDate" [(ngModel)]=training.trainingEndDate
      required #formEndDate="ngModel">
      <div *ngIf="formEndDate.invalid && (formEndDate.touched || formEndDate.dirty)" 
      class="alert alert-danger">Bắt buộc</div>
  </div>

  <div class="form-group">
    <label for="id5">trạng Thái</label>
    <input type="radio" id="id5" name="trainingStatus" value=1 style="margin-left: 3%;" [(ngModel)]=trainingStatus> Đang Hoạt Động
    <input type="radio" id="id5" name="trainingStatus" value=0 style="margin-left: 2%;" [(ngModel)]=trainingStatus> Không Hoạt Động
</div>
  <button type="submit" class="btn btn-outline-success" style="margin-left: 43%;"
  [disabled]="formName.invalid || formCode.invalid || formStartDate.invalid || formEndDate.invalid">CẬP NHẬT</button>
  <button type="button" class="btn btn-outline-info" (click)="goBack()" style="margin-left: 1%;">QUAY LẠI</button>
</form>

